# dependencies
/node_modules
/.pnp
.pnp.js

# pnpm
.pnpm-store
pnpm-debug.log*

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# local env files
.env*

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# supabase CLI temp
supabase/.temp/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# npm lockfile if using pnpm only
package-lock.json
